body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: #4F4F5B;
    color: #FFFFFF;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
form.login {
    display: table;
}

div.login {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

a {
    color: #FFFFFF;
}

.edit-div{
    padding: 50px;
}

.edit{
    width: 300px;
    height: 100px;
    border-color: #BBA0FB;
    background-color: #BBA0FB;
}