{% extends 'base.html' %}

{% block head %}
<title>Spring Break Planner</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Plan Your Spring Break!</h1>
    <div>
        <div class="edit-div">
            <button class="edit">Plan Events</button>
        </div>
        <div class="edit-div">
            <button class="edit">Budgeting</button>
        </div>
        <div class="edit-div">  
            <button class="edit">View Timeline</button>
        </div>
    
</div>
{% endblock %}